<div class="col-md-12">
		<form id="">
	        <div class="form-row">
	            <div class="form-input form-label col-md-12">
	           		 <label for="">
	                   PDF Report Footer:
	                </label>
	              
	                <textarea  ng-model="settings.pdf_report_footer" cols="80" rows="3" ck-editor></textarea>
	            </div>
	        </div>


	        <div class="form-row mrg30T">
	            <div class="form-label col-md-2">
	               	<a href="javascript:;" class="btn medium primary-bg" ng-click="saveSettings()" save-animate>
					    <span class="button-content">
					        <i class="glyph-icon icon-cog float-left"></i>
					        Save Settings
					    </span>
					</a>
	            </div>	
	        </div>

		</form>

</div>