<div ng-controller="UpgradeReportCtrl" id="upgradeReportDialogs">
<div class="hide modal content" tabindex="-1" role="dialog" id="upgradeAlertDialog">
  <div class="col" style="margin-right:40px;">
    <div class="title">
      This action requires an upgrade
    </div>
    <div class="description">
      <p>To use this cool feature you need to upgrade your account.</p>
      <p>An upgrade costs just $5 per month per report. As cheap as a cup of coffee.</p>
    </div>
  </div>
  <div class="col right">
    <div class="card">
      <div class="price">
        <div class="text">$</div>
        <div class="amount">5</div>
        <div class="text">/report</div>
      </div>
      <div class="price-footer">per month</div>
      <ul class="features">
        <li>Share dashboards</li>
        <li>Email reports</li>
        <li>Clone reports</li>
        <li>Unlimited users</li>
        <li>Create and use templates</li>
        <li>Schedule and automate reports</li>
      </ul>
      <button class="upgrade-add" ng-click="showUpgradeDialog('upgradeAlertDialog')">ADD</button>
    </div>
  </div>
  <div class="clear"></div>
  <div class="footer-right">
    <a href="javascript:;" ng-click="showUser('upgradeAlertDialog')">Check current Billing Plan</a>
  </div>
</div>

<div class="hide modal content" tabindex="-1" role="dialog" id="createReportDialog">
  <div class="col" style="margin-right:40px;">
    <div class="title">
      This action requires an upgrade
    </div>
    <div class="description">
      <p>You have exceeded the total number of reports for your account.</p>
      <p>An upgrade costs just $5 per month per report. As cheap as a cup of coffee.</p>
      <p>Upgrade your account to build more awesome reports.</p>
    </div>
  </div>
  <div class="col right">
    <div class="card">
      <div class="price">
        <div class="text">$</div>
        <div class="amount">5</div>
        <div class="text">/report</div>
      </div>
      <div class="price-footer">per month</div>
      <ul class="features">
        <li>Share dashboards</li>
        <li>Email reports</li>
        <li>Clone reports</li>
        <li>Unlimited users</li>
        <li>Create and use templates</li>
        <li>Schedule and automate reports</li>
      </ul>
      <button class="upgrade-add" ng-click="showUpgradeDialog('upgradeAlertDialog')">ADD</button>
    </div>
  </div>
  <div class="clear"></div>
  <div class="footer-right">
    <a href="javascript:;" ng-click="showUser('upgradeAlertDialog')">Check current Billing Plan</a>
  </div>
</div>

<div class="hide modal content" tabindex="-1" role="dialog" id="paymentAlertDialog">
  <div class="col" style="width: 520px; text-align: center; height: 125px;">
    <div class="title">
      Oops! This action requires an upgrade.
    </div>
    <div class="description">
      <p>To use this cool feature you need to upgrade your account.</p>
      <p>An upgrade costs just $5 per month per report. As cheap as a cup of coffee.</p>
    </div>
  </div>
  <div class="clear"></div>
  <div class="col" style="width: 520px; height: 265px;">
    <div class="card" style="margin: 0 auto; width:200px; height: 255px; padding: 0px; overflow: hidden;">
      <div class="header">ADD TO MONTHLY BILL</div>
      <div class="padFix">
          <div class="price">
            <div class="text">$</div>
            <div class="amount">5</div>
            <div class="text">/report</div>
          </div>
          <div class="price-footer">per month</div>
          <div class="features" style="font-size: 10px; margin-bottom: 25px; color: #b6b5b5;">
            You will be charged $5 for each existing report.
          </div>
          <button ng-click="save(pendingReport)">ADD</button>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="footer-right" style="text-align: center">
    <a href="javascript:;" ng-click="showUser('paymentAlertDialog')">Check current Billing Plan</a>
  </div>
</div>

<div class="hide modal" id="upgradePackageDialog">
  <div class="col" style="background: #e8e8e8;">
    <div class="col-content">
      <div class="title">Order Summary</div>
      <div class="card" style="margin-left:15px; height: 254px;">
        <div class="price">
          <div class="text">$</div>
          <div class="amount">{{billingReportsCount * generalInfo.unlimited_package.price}}</div>
        </div>
        <div class="seperator">&nbsp;</div>
        <div class="row">
          <div class="col-md-9">Rate per report</div><div class="col-md-3 amount">${{toInt(generalInfo.unlimited_package.price)}}</div>
        </div>
        <div class="row">
         <div class="col-md-9">Number of reports</div><div class="col-md-3 amount">{{billingReportsCount}}</div> 
        </div>
        <div class="seperator">&nbsp;</div>
        <div class="row">
          <div class="col-md-9">Sub total</div><div class="col-md-3 amount">${{billingReportsCount * generalInfo.unlimited_package.price}}</div>
        </div>
        <div class="row">
          <div class="col-md-9">Tax</div><div class="col-md-3 amount">&nbsp;&nbsp;$0.00</div>
        </div>
        <div class="seperator">&nbsp;</div>
        <div class="row">
          <div class="col-md-9">Total</div><div class="col-md-3 amount">${{(billingReportsCount * generalInfo.unlimited_package.price)}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="width:478px;">
    <div class="col-content">
      <div class="interactive-titles">
        <div class="i-title col-md-6" style="text-align:left;" ng-class="{active: isOnBillingAddress}" ng-click="isOnBillingAddress=true">Billing Address</div>
        <div class="i-title col-md-6"  style="text-align:right;" ng-class="{active: !isOnBillingAddress}" ng-click="isOnBillingAddress=false">Card Info</div>
      </div>
    </div>
    <div class="form-content col-md-11" ng-show="isOnBillingAddress">
      <form id="billing-address-form" action="" class="col-md-12 " method="">
        <div class="form-row">
          <div class="form-input form-label col-md-12">
              <label class="" for="">Full Name</label><input type="text" class="form-control" name="" id="billing_fullname" ng-model="billing.full_name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-input form-label col-md-12">
              <label class="" for="">Address</label><input type="text" class="form-control" name="" id="billing_address" ng-model="billing.address">
          </div>
        </div>
        <div class="form-row">
          <div class="form-input form-label col-md-12">
              <label class="" for="">State</label><input type="text" class="form-control" name="" id="billing_state" ng-model="billing.state">
          </div>
        </div>
        <div class="form-row">
          <div class="form-input form-label col-md-6">
              <label class="" for="">Country <span class="required">*</span></label>
              <select name="country" data-trigger="change" data-required="true"  ng-model="billing.country" id="billing_country">
                            <option value="">Select Country</option>
                            <option value="AF">Afghanistan</option>
                            <option value="AX">Åland Islands</option>
                            <option value="AL">Albania</option>
                            <option value="DZ">Algeria</option>
                            <option value="AS">American Samoa</option>
                            <option value="AD">Andorra</option>
                            <option value="AO">Angola</option>
                            <option value="AI">Anguilla</option>
                            <option value="AQ">Antarctica</option>
                            <option value="AG">Antigua and Barbuda</option>
                            <option value="AR">Argentina</option>
                            <option value="AM">Armenia</option>
                            <option value="AW">Aruba</option>
                            <option value="AU">Australia</option>
                            <option value="AT">Austria</option>
                            <option value="AZ">Azerbaijan</option>
                            <option value="BS">Bahamas</option>
                            <option value="BH">Bahrain</option>
                            <option value="BD">Bangladesh</option>
                            <option value="BB">Barbados</option>
                            <option value="BY">Belarus</option>
                            <option value="BE">Belgium</option>
                            <option value="BZ">Belize</option>
                            <option value="BJ">Benin</option>
                            <option value="BM">Bermuda</option>
                            <option value="BT">Bhutan</option>
                            <option value="BO">Bolivia, Plurinational State of</option>
                            <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                            <option value="BA">Bosnia and Herzegovina</option>
                            <option value="BW">Botswana</option>
                            <option value="BV">Bouvet Island</option>
                            <option value="BR">Brazil</option>
                            <option value="IO">British Indian Ocean Territory</option>
                            <option value="BN">Brunei Darussalam</option>
                            <option value="BG">Bulgaria</option>
                            <option value="BF">Burkina Faso</option>
                            <option value="BI">Burundi</option>
                            <option value="KH">Cambodia</option>
                            <option value="CM">Cameroon</option>
                            <option value="CA">Canada</option>
                            <option value="CV">Cape Verde</option>
                            <option value="KY">Cayman Islands</option>
                            <option value="CF">Central African Republic</option>
                            <option value="TD">Chad</option>
                            <option value="CL">Chile</option>
                            <option value="CN">China</option>
                            <option value="CX">Christmas Island</option>
                            <option value="CC">Cocos (Keeling) Islands</option>
                            <option value="CO">Colombia</option>
                            <option value="KM">Comoros</option>
                            <option value="CG">Congo</option>
                            <option value="CD">Congo, the Democratic Republic of the</option>
                            <option value="CK">Cook Islands</option>
                            <option value="CR">Costa Rica</option>
                            <option value="CI">Côte d'Ivoire</option>
                            <option value="HR">Croatia</option>
                            <option value="CU">Cuba</option>
                            <option value="CW">Curaçao</option>
                            <option value="CY">Cyprus</option>
                            <option value="CZ">Czech Republic</option>
                            <option value="DK">Denmark</option>
                            <option value="DJ">Djibouti</option>
                            <option value="DM">Dominica</option>
                            <option value="DO">Dominican Republic</option>
                            <option value="EC">Ecuador</option>
                            <option value="EG">Egypt</option>
                            <option value="SV">El Salvador</option>
                            <option value="GQ">Equatorial Guinea</option>
                            <option value="ER">Eritrea</option>
                            <option value="EE">Estonia</option>
                            <option value="ET">Ethiopia</option>
                            <option value="FK">Falkland Islands (Malvinas)</option>
                            <option value="FO">Faroe Islands</option>
                            <option value="FJ">Fiji</option>
                            <option value="FI">Finland</option>
                            <option value="FR">France</option>
                            <option value="GF">French Guiana</option>
                            <option value="PF">French Polynesia</option>
                            <option value="TF">French Southern Territories</option>
                            <option value="GA">Gabon</option>
                            <option value="GM">Gambia</option>
                            <option value="GE">Georgia</option>
                            <option value="DE">Germany</option>
                            <option value="GH">Ghana</option>
                            <option value="GI">Gibraltar</option>
                            <option value="GR">Greece</option>
                            <option value="GL">Greenland</option>
                            <option value="GD">Grenada</option>
                            <option value="GP">Guadeloupe</option>
                            <option value="GU">Guam</option>
                            <option value="GT">Guatemala</option>
                            <option value="GG">Guernsey</option>
                            <option value="GN">Guinea</option>
                            <option value="GW">Guinea-Bissau</option>
                            <option value="GY">Guyana</option>
                            <option value="HT">Haiti</option>
                            <option value="HM">Heard Island and McDonald Islands</option>
                            <option value="VA">Holy See (Vatican City State)</option>
                            <option value="HN">Honduras</option>
                            <option value="HK">Hong Kong</option>
                            <option value="HU">Hungary</option>
                            <option value="IS">Iceland</option>
                            <option value="IN">India</option>
                            <option value="ID">Indonesia</option>
                            <option value="IR">Iran, Islamic Republic of</option>
                            <option value="IQ">Iraq</option>
                            <option value="IE">Ireland</option>
                            <option value="IM">Isle of Man</option>
                            <option value="IL">Israel</option>
                            <option value="IT">Italy</option>
                            <option value="JM">Jamaica</option>
                            <option value="JP">Japan</option>
                            <option value="JE">Jersey</option>
                            <option value="JO">Jordan</option>
                            <option value="KZ">Kazakhstan</option>
                            <option value="KE">Kenya</option>
                            <option value="KI">Kiribati</option>
                            <option value="KP">Korea, Democratic People's Republic of</option>
                            <option value="KR">Korea, Republic of</option>
                            <option value="KW">Kuwait</option>
                            <option value="KG">Kyrgyzstan</option>
                            <option value="LA">Lao People's Democratic Republic</option>
                            <option value="LV">Latvia</option>
                            <option value="LB">Lebanon</option>
                            <option value="LS">Lesotho</option>
                            <option value="LR">Liberia</option>
                            <option value="LY">Libya</option>
                            <option value="LI">Liechtenstein</option>
                            <option value="LT">Lithuania</option>
                            <option value="LU">Luxembourg</option>
                            <option value="MO">Macao</option>
                            <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                            <option value="MG">Madagascar</option>
                            <option value="MW">Malawi</option>
                            <option value="MY">Malaysia</option>
                            <option value="MV">Maldives</option>
                            <option value="ML">Mali</option>
                            <option value="MT">Malta</option>
                            <option value="MH">Marshall Islands</option>
                            <option value="MQ">Martinique</option>
                            <option value="MR">Mauritania</option>
                            <option value="MU">Mauritius</option>
                            <option value="YT">Mayotte</option>
                            <option value="MX">Mexico</option>
                            <option value="FM">Micronesia, Federated States of</option>
                            <option value="MD">Moldova, Republic of</option>
                            <option value="MC">Monaco</option>
                            <option value="MN">Mongolia</option>
                            <option value="ME">Montenegro</option>
                            <option value="MS">Montserrat</option>
                            <option value="MA">Morocco</option>
                            <option value="MZ">Mozambique</option>
                            <option value="MM">Myanmar</option>
                            <option value="NA">Namibia</option>
                            <option value="NR">Nauru</option>
                            <option value="NP">Nepal</option>
                            <option value="NL">Netherlands</option>
                            <option value="NC">New Caledonia</option>
                            <option value="NZ">New Zealand</option>
                            <option value="NI">Nicaragua</option>
                            <option value="NE">Niger</option>
                            <option value="NG">Nigeria</option>
                            <option value="NU">Niue</option>
                            <option value="NF">Norfolk Island</option>
                            <option value="MP">Northern Mariana Islands</option>
                            <option value="NO">Norway</option>
                            <option value="OM">Oman</option>
                            <option value="PK">Pakistan</option>
                            <option value="PW">Palau</option>
                            <option value="PS">Palestinian Territory, Occupied</option>
                            <option value="PA">Panama</option>
                            <option value="PG">Papua New Guinea</option>
                            <option value="PY">Paraguay</option>
                            <option value="PE">Peru</option>
                            <option value="PH">Philippines</option>
                            <option value="PN">Pitcairn</option>
                            <option value="PL">Poland</option>
                            <option value="PT">Portugal</option>
                            <option value="PR">Puerto Rico</option>
                            <option value="QA">Qatar</option>
                            <option value="RE">Réunion</option>
                            <option value="RO">Romania</option>
                            <option value="RU">Russian Federation</option>
                            <option value="RW">Rwanda</option>
                            <option value="BL">Saint Barthélemy</option>
                            <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                            <option value="KN">Saint Kitts and Nevis</option>
                            <option value="LC">Saint Lucia</option>
                            <option value="MF">Saint Martin (French part)</option>
                            <option value="PM">Saint Pierre and Miquelon</option>
                            <option value="VC">Saint Vincent and the Grenadines</option>
                            <option value="WS">Samoa</option>
                            <option value="SM">San Marino</option>
                            <option value="ST">Sao Tome and Principe</option>
                            <option value="SA">Saudi Arabia</option>
                            <option value="SN">Senegal</option>
                            <option value="RS">Serbia</option>
                            <option value="SC">Seychelles</option>
                            <option value="SL">Sierra Leone</option>
                            <option value="SG">Singapore</option>
                            <option value="SX">Sint Maarten (Dutch part)</option>
                            <option value="SK">Slovakia</option>
                            <option value="SI">Slovenia</option>
                            <option value="SB">Solomon Islands</option>
                            <option value="SO">Somalia</option>
                            <option value="ZA">South Africa</option>
                            <option value="GS">South Georgia and the South Sandwich Islands</option>
                            <option value="SS">South Sudan</option>
                            <option value="ES">Spain</option>
                            <option value="LK">Sri Lanka</option>
                            <option value="SD">Sudan</option>
                            <option value="SR">Suriname</option>
                            <option value="SJ">Svalbard and Jan Mayen</option>
                            <option value="SZ">Swaziland</option>
                            <option value="SE">Sweden</option>
                            <option value="CH">Switzerland</option>
                            <option value="SY">Syrian Arab Republic</option>
                            <option value="TW">Taiwan, Province of China</option>
                            <option value="TJ">Tajikistan</option>
                            <option value="TZ">Tanzania, United Republic of</option>
                            <option value="TH">Thailand</option>
                            <option value="TL">Timor-Leste</option>
                            <option value="TG">Togo</option>
                            <option value="TK">Tokelau</option>
                            <option value="TO">Tonga</option>
                            <option value="TT">Trinidad and Tobago</option>
                            <option value="TN">Tunisia</option>
                            <option value="TR">Turkey</option>
                            <option value="TM">Turkmenistan</option>
                            <option value="TC">Turks and Caicos Islands</option>
                            <option value="TV">Tuvalu</option>
                            <option value="UG">Uganda</option>
                            <option value="UA">Ukraine</option>
                            <option value="AE">United Arab Emirates</option>
                            <option value="GB">United Kingdom</option>
                            <option value="US">United States</option>
                            <option value="UM">United States Minor Outlying Islands</option>
                            <option value="UY">Uruguay</option>
                            <option value="UZ">Uzbekistan</option>
                            <option value="VU">Vanuatu</option>
                            <option value="VE">Venezuela, Bolivarian Republic of</option>
                            <option value="VN">Viet Nam</option>
                            <option value="VG">Virgin Islands, British</option>
                            <option value="VI">Virgin Islands, U.S.</option>
                            <option value="WF">Wallis and Futuna</option>
                            <option value="EH">Western Sahara</option>
                            <option value="YE">Yemen</option>
                            <option value="ZM">Zambia</option>
                            <option value="ZW">Zimbabwe</option>
                        </select>
          </div>
          <div class="form-input form-label col-md-6">
              <label class="" for="">Zip Code</label><input type="text" class="form-control" name="" id="billing_zipcode" ng-model="billing.zipcode">
          </div>
        </div>
        <div class="form-row" style="margin-top:20px;">
          <div class="form-input form-label col-md-6">
              <a href="javascript:;" ng-click="showUser('upgradePackageDialog')">Check current Billing Plan</a>
          </div>
          <div class="form-input form-label col-md-6">
              <button class="upgrade-dialog-button" ng-click="validateBilling()">Continue</button>
          </div>
        </div>
      </form>
    </div>
    <div class="form-content col-md-11" ng-show="!isOnBillingAddress">
      <form id="card-info-form" action="" class="col-md-12 " method="">
        <div class="form-row">
          <div class="form-input form-label col-md-6">
              <label class="" for="">First name <span class="required">*</span></label><input type="text" class="form-control" name="" id="cc_firstname" ng-model="cc.firstname" data-required="true">
          </div>
          <div class="form-input form-label col-md-6">
              <label class="" for="">Last name <span class="required">*</span></label><input type="text" class="form-control" name="" id="cc_lastname" ng-model="cc.lastname" data-required="true">
          </div>
        </div>
        <div class="form-row">
          <div class="form-input form-label col-md-12">
              <label class="" for="">Card Number  <span class="required">*</span></label><input type="text" class="form-control" name="" id="cc_cardnumber" size="16" maxlength="16" ng-model="cc.cc_number" data-required="true">
          </div>
        </div>
        <div class="form-row">
          <div class="form-input form-label col-md-4">
              <label class="" for="">CVV <span class="required">*</span></label><input type="text" maxlength="4" size="4" data-type="number" class="form-control" name="" id="cc_cvv" ng-model="cc.cc_ccv" data-required="true" placeholder="CVV">
          </div>
          <div class="form-input form-label col-md-4">
              <label class="" for="">Expiry Month<span class="required">*</span></label>
              <select name="cc_exp_month" data-trigger="change" data-required="true"  ng-model="cc.cc_exp_month" id="cc_exp_month">
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
          </div>
          <div class="form-input form-label col-md-4">
              <label class="" for="">Expiry Year<span class="required">*</span></label>
              <select name="cc_exp_year" id="cc_exp_year" data-trigger="change" data-required="true" ng-model="cc.cc_exp_year">
                                        <option>2016</option>
                                        <option>2017</option>
                                        <option>2018</option>
                                        <option>2019</option>
                                        <option>2020</option>
                                        <option>2021</option>
                            </select>
          </div>
        </div>
        <div class="form-row" id="cc_message">
          
        </div>
        <div class="form-row" style="margin-top:20px;">
          <div class="form-input form-label col-md-6">
              <a href="javascript:;" ng-click="isOnBillingAddress=true">Back</a>
          </div>
          <div class="form-input form-label col-md-6">
              <button class="upgrade-dialog-button" ng-click="savecc()" ng-disabled="saveDisabled">Submit Payment</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="clear"></div>
  <div class="form-footer">
    <div class="col" style="background:#e8e8e8"></div>
    <div class="col" style="background:#f9f9f9; width:430px;">
      <div class="row">
        <div class="col-md-6">SECURE PAYMENT</div>
        <div class="col-md-6">PAYMENT OPTIONS</div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="https://www.braintreegateway.com/merchants/tff7jk8jfc5hb8gy/verified" target="_blank">
            <img src="https://s3.amazonaws.com/braintree-badges/braintree-badge-light.png" height ="32px" border="0" style="outline: none !important; margin-left: -2px;"/>
          </a>
        </div>
        <div class="col-md-2">
          <img src="/images/visa.png">
        </div>
        <div class="col-md-2">
          <img src="/images/mastercard.png">
        </div>
        <div class="col-md-2">
          <img src="/images/amex.png">
        </div>
      </div>
    </div>
  </div>
</div>
</div>